<div class="platforms-area pb-70">
    <div class="container">
        <div class="section-title with-max-width">
            <p>Start earning with these simple steps</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="platforms-item">
                    <div class="image">
                        <img src="assets/img/cryptocurrency-home/platforms/platforms-1.png" alt="image">
                    </div>
                    <h3>Join our panel</h3>
                    <div class="arrow-image">
                        <img src="assets/img/cryptocurrency-home/platforms/arrow-1.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="platforms-item">
                    <div class="image">
                        <img src="assets/img/cryptocurrency-home/platforms/platforms-2.png" alt="image">
                    </div>
                    <h3>Take paid online surveys</h3>
                    <div class="arrow-image">
                        <img src="assets/img/cryptocurrency-home/platforms/arrow-2.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="platforms-item">
                    <div class="image">
                        <img src="assets/img/cryptocurrency-home/platforms/platforms-3.png" alt="image">
                    </div>
                    <h3>Earn points and redeem</h3>
                </div>
            </div>
        </div>
    </div>
</div>