<div class="platforms-area pb-70">
    <div class="container">
        <div class="section-title with-max-width">
            <h3>Start earning with these simple steps</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="platforms-item">
                    <div class="image">
                        <img src="assets/img/steps/join-lightline-research.jpg" alt="image">
                    </div>
                    <a href="">
                        <h3>Join our panel</h3>
                    </a>
                    <div class="arrow-image">
                        <img src="assets/img/steps/arrow-1.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="platforms-item">
                    <div class="image">
                        <img src="assets/img/steps/take-paid-online-surveys.jpg" alt="image">
                    </div>
                    <a href="">
                        <h3>Take paid online surveys</h3>
                    </a>
                    <div class="arrow-image">
                        <img src="assets/img/steps/arrow-2.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="platforms-item">
                    <div class="image">
                        <img src="assets/img/steps/earn-points-and-redeem.jpg" alt="image">
                    </div>

                    <a href="">
                        <h3>Take paid online surveys</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>