<section id="testing"><!-- <section id="about" #about> -->

    <div class="about-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-12">
                    <!-- <div class="cryptocurrency-about-image">
                    <img src="assets/img/home/about/about.png" alt="image">
                </div> -->
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="cryptocurrency-about-content">
                        <span class="sub-title">Why Join Us</span>
                        <p>Joining Lightline Research gives you the opportunity to become a member of a large online
                            community that help companies make better products by voicing your opinions.
                            We work with millions of consumers whom we help to get the ipinions they need to make better
                            and affordable products </p>
                        <div class="about-btn">
                            <a routerLink="/contact" class="default-btn style-two">
                                <span class="ri-arrow-right-s-line"></span>
                                Register Now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12"></div>
            </div>
        </div>
    </div>
</section>