<div class="cybersecurity-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center m-0">
            <div class="col-lg-6 col-md-12">
                <div class="cybersecurity-banner-content">
                    <h1>Earn from paid online surveys</h1>
                    <p>The Lightline online community is one of the fastest growing panels in Africa and is made up of daily consumers of
                    different products and/or services, just like you.
                    
                    Join our online community and earn through participation in our surveys. Through registration, you become a panel member
                    and will be invited to participate in surveys from time to time therefore eligible to either earn points, airtime or
                    vouchers.
                </p>
                    <a href="https://app.lightlineresearch.com/register" class="default-btn style-two">
                        <span class="ri-arrow-right-s-line"></span>
                        Register Now
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0">
                <div class="cybersecurity-banner-image">
                    <img src="assets/img/home/banner/banner.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="image"></div> -->
</div>